<%= form_for(@initiative) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

	<hr>

	<table class="init_form">
		<!-- datetime_select row -->
		<tr>
			<td class="p15"><%= f.label :election_date %></td>
			<td>&nbsp;&nbsp;</td>
			<td><%= f.datetime_select :election_date, use_short_month: true, order: [:month, :day, :year] %></td>
		</tr>

		<!-- prop_letter & title row -->
		<tr>
			<td class="p8"><%= f.label :prop_letter %></td>
			<td></td>
			<td>
				<table>
					<tr>
						<td><%= f.text_field :prop_letter %></td>

						<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

						<td class="p8"><%= f.label :title %></td>
						<td>&nbsp;&nbsp;</td>
						<td><%= f.text_field :title %></td>
					</tr>
				</table>
			</td>
		</tr>

		<!-- description row -->
		<tr>
			<td><%= f.label :description %></td>
			<td></td>
			<td><%= f.text_area :description %></td>
		</tr>

		<!-- pass_fail, yes_count & no_count row -->
		<tr>
			<td><%= f.label :pass_fail, "Pass?" %></td>
			<td></td>
			<td>
				<table>
					<tr>
						<td><%= f.check_box :pass_fail %></td>

						<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

						<td class="p8"><%= f.label :yes_count %></td>
						<td>&nbsp;&nbsp;</td>
						<td><%= f.number_field :yes_count %></td>

						<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

						<td class="p8"><%= f.label :no_count %></td>
						<td>&nbsp;&nbsp;</td>
						<td><%= f.number_field :no_count %></td>
					</tr>
				</table>				
			</td>
		</tr>

		<!-- percent_required row -->
		<tr>
			<td class="p8"><%= f.label :percent_required %></td>
			<td></td>
			<td><%= f.text_field :percent_required %></td>
		</tr>

		<!-- measure_type row -->
		<tr>
			<td class="p8"><%= f.label :measure_type %></td>
			<td></td>
			<td><%= f.text_field :measure_type %></td>
		</tr>

		<!-- initiator row -->
		<tr>
			<td class="p8"><%= f.label :initiator %></td>
			<td></td>
			<td><%= f.text_field :initiator %></td>
		</tr>

		<!-- scan_url row -->
		<tr>
			<td class="p8"><%= f.label :scan_url %></td>
			<td></td>
			<td><%= f.text_field :scan_url %></td>
		</tr>
	</table>

	<!-- Transfer-ownership section for admins & @initiative.user -->
	<% if controller.controller_name == "initiatives" && controller.action_name == "edit" %>
		<hr>

		<p class="color_red">Danger zone: Transfer ownership of this initiative to another user.</p>
		<p>(Default user id is your user id - do not change unless you want to change the owner of this initiative.)</p>

		<br>

		<table class="init_form">
			<tr>
				<td class="p15">Transfer ownership of this initiative to user (id): </td>
				<td>&nbsp;&nbsp;</td>
				<td><%= text_field(:initiative, :user_id) %></td>
			</tr>
		</table>
	<% end %>

	<hr>

	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
