<p id="notice"><%= notice %></p>

<p>
  <strong>Election date:</strong>
  <%= @initiative.election_date %>
</p>

<p>
  <strong>Prop letter:</strong>
  <%= @initiative.prop_letter %>
</p>

<p>
  <strong>Title:</strong>
  <%= @initiative.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @initiative.description %>
</p>

<p>
  <strong>Pass fail:</strong>
  <%= @initiative.pass_fail %>
</p>

<p>
  <strong>Yes count:</strong>
  <%= @initiative.yes_count %>
</p>

<p>
  <strong>No count:</strong>
  <%= @initiative.no_count %>
</p>

<p>
  <strong>Percent required:</strong>
  <%= @initiative.percent_required %>
</p>

<p>
  <strong>Measure type:</strong>
  <%= @initiative.measure_type %>
</p>

<p>
  <strong>Initiator:</strong>
  <%= @initiative.initiator %>
</p>

<p>
  <strong>Scan url:</strong>
  <%= @initiative.scan_url %>
</p>

<table>
  <tr>
    <% if current_user == @initiative.user || current_user.admin? %>
      <td> <%= link_to 'Edit',   edit_initiative_path(@initiative) %>    | </td>
      <td> <%= link_to "Delete", @initiative, method: :delete, confirm: "You sure?" %> | </td>
    <% end %>

    <td>
      <%= link_to 'Back', initiatives_path %>
    </td>
  </tr>
</table>
