<li>
	
	<table>
		<tr>
			<td><%= gravatar_for user, size: 52 %></td>
			<td><%= link_to user.name, user %></td>

			<!-- For admins - promote-to-admin link -->
			<% if current_user.admin? && !user.admin? %>
				<td> | <%= link_to "promote to admin", make_admin_path(:id => user.id), confirm: "You sure?" %> </td>
			<% end %>

			<!-- For admins - demote-from-admin link -->
			<% if current_user.admin? && user.admin? && !current_user?(user) %>
				<td> | <%= link_to "demote from admin", revoke_admin_path(:id => user.id), confirm: "You sure?" %> </td>
			<% end %>

			<!-- For admins - delete user link -->
			<% if current_user.admin? && !current_user?(user) %>
				<td> | <%= link_to "delete", user, method: :delete, confirm: "You sure?" %> </td>
			<% end %>
		</tr>
	</table>

</li>
