<div class="row">
	<aside class="span4">

		<table>
			<tr>
				<td><%= gravatar_for @user %></td>
				<td>
					<table>
						<tr><td><%= @user.email %></td></tr>
						<tr><td><%= @user.name  %></td></tr>
					</table>
				</td>
			</tr>
		</table>

	</aside>

	<div class="initiatives span8">
		<% if @user.initiatives.any? %>
			<h3>Posted Initiatives: (<%= @user.initiatives.count %>)</h3>

			<table>
				<thead>
					<tr>
						<th>Initiative ID</th>
						<th>Title</th>
						<th>Passed</th>
						<th>Measure</th>
					</tr>
				</thead>

				<tbody>
					<% @initiatives.each do |initiative| %>
						<tr class="<%= cycle('list_line_odd', 'list_line_even') %>" >
							<td><%= link_to initiative.id, initiative %></td>
							<td><%= initiative.title %></td>
							<td><%= initiative.pass_fail ? "yes" : "no" %></td>
							<td><%= initiative.measure_type %></td>
						</tr>
					<% end %>
				</tbody>
			</table>

			<%= paginate @initiatives %>
		<% end %>
	</div>

</div>
