<div class="row">
	<aside class="span4">

		<table>
			<tr>
				<td><%= gravatar_for @user %></td>
				<td>
					<table>
						<tr><td><%= @user.email %></td></tr>
						<tr><td><%= @user.name  %></td></tr>
					</table>
				</td>
			</tr>
		</table>

	</aside>

	<div class="span8">
		<% if @user.initiatives.any? %>
			<h3>Posted Initiatives: (<%= @user.initiatives.count %>)</h3>

			<ol class="initiatives">
				<%= render @initiatives %>
			</ol>

			<%= paginate @initiatives %>
		<% end %>
	</div>

</div>
